.cell
{
	width : 100px;
	height : 100px;
}

.ship
{
	width:100px;
	height:100px;
	background: green;
}
.wall
{
	width:100px;
	height:100px;
}
#empty
{
	background: white;
}
#obstacle
{
	background: grey;
}
#p1
{
	background: cornflowerblue;
}

#p2
{
	background: palevioletred;
}